html{
	background:white;
}

h1{
	font-variant: small-caps; 
}

.container{
	width:90%;
}

canvas{
	margin:20px;

	background: none;
	box-shadow: 0px 0px 200px 10px #ccc;

	width:calc(100% - 40px);
	height:auto;
}

label.tooltipped{
	color: #a55858 !important;
	text-transform: uppercase;
}
